__pycache__/
backend/tests/
backend/.pytest_cache/
.venv
.vscode
**/.git
**/node_modules
**/dist
**/.vite
**/.DS_Store
**/.env
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/README.md
**/LICENSE
*.pyc
*.pyo
*.pyd
.Python